<!-- Top navigation bar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><r:img height="20" uri="/images/kia_logo.jpeg"/></a>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>Butch Camacho
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a class="cookie-delete" href="#">Delete Cookies</a></li>
                    <li class="divider"></li>
                    <li><a href="${createLink(uri:'login')}">Logout</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            Messages <span class="label label-info">100</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Message 1</a></li>
                            <li><a href="#">Another message</a></li>
                            <li><a href="#">Something else message</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Older messages...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            Settings
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Personal Info</a></li>
                            <li><a href="#">Preferences</a></li>
                            <li><a href="#">Alerts</a></li>
                            <li><a class="cookie-delete" href="#">Delete Cookies</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            Theme
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="theme-switch-default" href="#">Default</a></li>
                            <li><a class="theme-switch-amelia" href="#">Amelia</a></li>
                            <li><a class="theme-switch-cerulean" href="#">Cerulean</a></li>
                            <li><a class="theme-switch-journal" href="#">Journal</a></li>
                            <li><a class="theme-switch-readable" href="#">Readable</a></li>
                            <li><a class="theme-switch-simplex" href="#">Simplex</a></li>
                            <li><a class="theme-switch-slate" href="#">Slate</a></li>
                            <li><a class="theme-switch-spacelab" href="#">Spacelab</a></li>
                            <li><a class="theme-switch-spruce" href="#">Spruce</a></li>
                            <li><a class="theme-switch-superhero" href="#">Superhero</a></li>
                            <li><a class="theme-switch-united" href="#">United</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
